@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #2E4159;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
}

.title {
  font-size: 1.3rem;
  background: linear-gradient(to right, #F2BC94, #E1E5EB, #E09E77);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.title-link {
  text-decoration: none;
  transition: color 0.3s ease;
}

.title-link:hover {
  color: #E09E77;
}

.nav-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-nav a,
.models-button {
  padding: 8px 16px;
  text-decoration: none;
  color: #E1E5EB;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 8px;
  font-size: 0.9rem;
  margin-right: 10px;
}

.header-nav a:hover,
.models-button:hover {
  color: #F2BC94;
  background-color: rgba(242, 188, 148, 0.1);
}

.models-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.models-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1F2833;
  min-width: 180px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.models-list a {
  color: #E1E5EB;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #2E4159;
  transition: background-color 0.3s ease;
}

.models-list a:hover {
  background-color: #2E4159;
  color: #F2BC94;
}

.models-dropdown:hover .models-list {
  display: block;
}
