.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px; /* Increased padding for a more spacious look */
  background-color: #2E4159;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* subtle shadow for depth */
  margin-bottom: 0;  /* explicitly set to zero */
  border-bottom: none;  /* remove any border */
}

.title {
  font-size: 1.5rem;
  color: #F2BC94; /* Using the brighter contrast color from the theme for the title */
  margin: 0;
}

.title-link {
  text-decoration: none;
  transition: color 0.3s ease;
}

.title-link:hover {
  color: #E09E77;
}

.nav-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav a,
.models-button {
  margin-right: 20px;
  padding: 10px 20px;
  text-decoration: none;
  color: #E1E5EB; /* Light text color from the theme */
  transition: color 0.3s ease;
}

.header-nav a:hover,
.models-button:hover {
  color: #F2BC94; /* Hover effect using the brighter contrast color */
}

.models-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.models-dropdown {
  position: relative;
  display: inline-block;
}

.models-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1F2833;
  min-width: 180px; /* increased width for better spacing */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.models-list a {
  color: #E1E5EB;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #2E4159; /* Border color consistent with the theme */
  transition: background-color 0.3s ease;
}

.models-list a:last-child {
  border-bottom: none;
}

.models-list a:hover {
  background-color: #2E4159;
}

.models-dropdown:hover .models-list {
  display: block;
}

.header > * {
  margin-bottom: 0;  /* explicitly set to zero */
}