.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f1f1f1;
}

.title {
  font-size: 1.25rem;
  color: #333; /* Set the color to dark gray */
  margin: 0;
}

.title-link {
  text-decoration: none;
}

.nav-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav a,
.models-button {
  margin-right: 20px; /* Space between links */
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}

.models-button {
  background: none; /* Removed background */
  border: none; /* Removed border */
  cursor: pointer;
  outline: none;
}

.models-dropdown {
  position: relative;
  display: inline-block;
}

.models-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.models-list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #eee; /* Border between links */
}

.models-list a:last-child {
  border-bottom: none; /* Removing border from last link */
}

.models-list a:hover {
  background-color: #f1f1f1;
}

.models-dropdown:hover .models-list {
  display: block;
}
