/* General styling for the about page */
.about-page {
  background-color: #1F2833;
  font-size: 16px;
  color: #E1E5EB;
  padding: 30px 50px;
}

.about-page > section {
  padding: 50px 80px;
  background: #2E4159;
  margin: 30px 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

/* Hero Section */
.hero-section h1 {
  font-size: 36px;
  color: #FFFFFF;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.6);
}

.hero-section p {
  color: #FFFFFF;
  font-size: 20px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

/* Features Overview, Model Showcase, How It Works, Success Stories, FAQ */
.features-overview h2,
.model-showcase h2,
.how-it-works h2,
.success-stories h2,
.faq h2 {
  font-size: 28px;
  color: #66A5AD;
}

/* Model Showcase */
.model-showcase .chart-container {
  height: 420px;
}

/* Common styling for buttons */
button {
  background-color: #F2BC94;
  border: none;
  color: #2E4159;
  padding: 17px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #E09E77;
  color: #1F2833;
}

/* Styling for LinkedIn and GitHub buttons */
.contact-buttons {
  display: flex;
  align-items: center;
}

.contact-buttons a {
  margin-right: 10px;
  display: inline-block;
  background-color: #0077b5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 6px; /* Consistent with other buttons */
  transition: background-color 0.3s ease;
}

.contact-buttons a:hover {
  background-color: #005f95;
}

.contact-buttons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
