/* General styling */
body, h1, h2, h3, p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; /* Enhanced line spacing */
}

.home-page {
  background-color: #1F2833;
  font-size: 16px;
  color: #E1E5EB;
  padding: 30px 50px;  /* Padding for the entire home-page */
}

.home-page > section {
  padding: 50px 80px;
  background: #2E4159;
  margin-bottom: 30px;  /* Margin for spacing between sections */
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.home-page > section:last-child {
  margin-bottom: 0;  /* No margin for the last section */
}

/* Hero Section */
.hero-section {
  position: relative;
  padding: 60px 80px;
  background: linear-gradient(145deg, rgba(46, 65, 89, 0.9), rgba(31, 40, 51, 0.9));
  border-radius: 12px;
}

.hero-section h1 {
  font-size: 46px;
  color: #FFFFFF;
  margin-bottom: 30px;
  line-height: 1.4; 
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.6);
}

.hero-section p {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500; 
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

/* Features Overview */
.features-overview h2 {
  font-size: 34px;
  color: #66A5AD;
  margin-bottom: 20px;
}

/* Model Showcase */
.model-showcase .chart-container {
  height: 420px;
}

.model-showcase h2 {
  font-size: 34px;
  color: #66A5AD;
  margin-bottom: 20px;
}

/* How It Works */
.how-it-works h2 {
  font-size: 34px;
  color: #66A5AD;
  margin-bottom: 20px;
}

/* Model Stories */
.success-stories h2 {
  font-size: 34px;
  color: #66A5AD;
  margin-bottom: 20px;
}

/* FAQ */
.faq h2 {
  font-size: 34px;
  color: #66A5AD;
  margin-bottom: 20px;
}

/* Common styling for buttons */
button {
  background-color: #F2BC94;
  border: none;
  color: #2E4159;
  padding: 17px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #E09E77;
  color: #1F2833;
}
