<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Stock Price Predictor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.3acdc5af.css') }}">
</head>

<body>
  <div id="root"></div>
  <script src="{{ url_for('static', filename='js/787.cda612ba.chunk.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.6f5a8abc.js') }}"></script>
</body>

</html>

